.delivery-page {
    margin-bottom: 40px;

    p {
    	line-height: 24px;
    }

    ul {
        list-style-type: inherit;
        padding-left: 15px;
        margin: 10px 0;

        li {
            list-style: disc;
        }
    }
}