.scrtabs-tabs-fixed-container {
	height: 80px;
	padding-top: 15px;
}

.scrtabs-tab-scroll-arrow {
	border: none;
	padding-left: 5px;
	padding-top: 23px;
	font-size: 16px;
	color: #000;

	&:hover {
		background: none;
	}
}

.buy_block {
	font-family: $ubuntu;
	font-weight: 600;
	text-transform: uppercase;

	.buy {
		border: 3px solid $yellow;
		background-color: $yellow;
		color: #000;
		font-size: rem(16);
		line-height: rem(18);
		min-width: 80%;
		&:hover {
			background: transparent;
		}
	} // buy

	.fast-buy {
		border: 3px solid $yellow;
		color: #000;
		font-size: rem(16);
		line-height: rem(18);
		min-width: 80%;
		margin-top: 15px;
	} // fast-buy
} // buy_block

.breadcrumb {
	background: transparent;
	padding-left: 0;

	li {

		a {
			color: #000;
			&:hover {
				color: $yellow;
			}
		}
	}
} // breadcrumb

.filters {
	display: flex;

	.filters-list {
		display: flex;
		flex-wrap: wrap;
		padding-left: 15px;

		li {
			margin-left: 10px;

			.filter-link {
				color: #000;
				line-height: rem(35);
				&:hover {
					color: $yellow;
				}
			}
		}
	}
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
  justify-content: center;

  .pagination-item {
    padding: 5px;
  	margin-top: 10px;

    &.active {
      border-radius: 50%;
      background-color: #cc2c11;
      padding: 5px 10px;

      .pagination-link {
				color: #fff;
      }
    }

    .pagination-link {
      color: #333;

      &:hover {
      	color: $yellow;
      }
    }
  }
}

form.buys {
	margin-top: rem(20);
	@media (max-width: 576px) {
		margin-top: rem(5);
	}
}

.filters {
	justify-content: flex-end;
	
	.filter-list {
    position: relative;
    display: inline-block;

    &:hover {
		
			.filter-list-content {
			    display: block;
			}
    }
	}

	.filter-list-btn {
    color: #333;
    background-color: #fff;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	}

	.filter-list-content {
	    display: none;
	    position: absolute;
	    background-color: #fff;
	    min-width: 160px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;

	    a {
        color: rgba(0,0,0,.55);
        font-size: 14px;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

        &.active, &:hover {
        	color: #000;
        }
	    }
	}

} // filters