#block-5 {
	padding-top: rem(75);
	position: relative;

	.yellow {
		background-color: $yellow;
		position: absolute; top: 0; left: 0;
		width: 100%;
		height: rem(348);
	}

	.header-container {
		text-align: center;
		padding-bottom: rem(51);
	}

	.good-item {
		@media (max-width: 576px) {
			text-align: center;
			padding-bottom: 40px;	
		}

		h3 {
			font-weight: 500;
			font-size: rem(16);
			line-height: rem(28);
			padding-bottom: 0px;
			margin-bottom: 0px;
		}

		p {
			font-size: rem(16);
			line-height: rem(19);
		}

		.buy-info {
			display: flex;
			justify-content: space-between;

				.price {
					font-weight: 700;
					font-size: rem(18);
					line-height: rem(75);
					@media (max-width: 576px) {
						width: 100%;
						text-align: center;
					}

				}
		} // .buy-info

		.button-wrapper {
			.button {
				border: unset;
		    color: #000;
		    display: inline-block;
		    font-weight: 700;
		    text-transform: uppercase;
		    width: 200px;
		    height: 40px;
		    font-size: 14px;
		    background: $yellow;
		    font-family: $roboto;

				&:hover {
					cursor: pointer;
					background: transparent;
					border: 3px solid $yellow;
				}
			}
		}

	} // good-item

	.goods-wrapper {
		text-align: center;
		padding-top: rem(42);
		@media (max-width: 576px) {
			padding-top: 0;
		}
		.button {
			color: #000;
			border: unset;
			border-bottom: 3px solid $yellow;
			padding-top: rem(10);
			&:hover {
				border-bottom: unset;
				background-color: none;
			}
		}
	}
} // #block-5