#block-6 {
	padding-top: rem(75);
	position: relative;

	.contacts {
		padding-top: rem(79);
		@media (max-width: 576px) {
			padding-top: 0;
		}

		h4 {
			font-weight: 600;
			font-size: rem(20);
			line-height: rem(24);
			padding-top: rem(29);
		}

		p {
			font-size: rem(16);
			line-height: rem(23);
		}

		.button-wrapper {
			padding-top: rem(32);
			padding-bottom: rem(42);

			.button {
				border: unset;
				border-bottom: 3px solid $yellow;
				color: #000;
				text-transform: none;
			}
		}
	} // contacts

	.map {

	} // map

	.feedback {
		padding-top: rem(79);

		h4 {
			font-weight: 600;
			font-size: rem(36);
			line-height: rem(51);
		}

		p {
			font-size: rem(18);
		}

		.button-wrapper {
			padding-top: rem(32);

			.button {
				color: #000;
				padding-right: rem(45);
				padding-left: rem(45);
			}
		}

		.form {
			padding-top: rem(60);

			.form-label {
				font-size: 12px;
				color: #5e9bfc;
				margin: 0;
				display: block;
				opacity: 1;
				-webkit-transition: .333s ease top, .333s ease opacity;
				transition: .333s ease top, .333s ease opacity;
			}
			.form-control {
				border-radius: 0;
				border-color: #ccc;
			   	border-width: 0 0 2px 0;
			   	border-style: none none solid none;
			   	box-shadow: none;
			}
			.form-control:focus {
				box-shadow: none;
				border-color: $yellow;
			}
			.js-hide-label {
				opacity: 0;
			}
			.js-unhighlight-label {
				color: #999
			}

			.button-wrapper {
				text-align: center;

				.button {
					background-color: transparent;
				}
			}

			.form-check {
				padding-top: rem(40);
				padding-bottom: rem(40);

				.form-check-label {
					p {
						font-size: rem(12);
						line-height: rem(17);
					}
				}
			}
		}




	} // feedback
}