nav#sticky-nav {
	@media (max-width: 576px) {
		justify-content: space-around;
	}
}

#sticky-nav {
	line-height: rem(70);
	background-color: #fff;

.navbar-toggler {
		border: none;
	}

	.navbar-collapse {
		 justify-content: space-around;

		 .navbar-nav {

		 	.nav-item {
		 		position: relative;

		 		a.nav-link {
		 			font-family: $rubik;
		 			font-size: rem(16);
		 			line-height: rem(19);
		 			font-weight: 500;
		 			color: #000;
		 		}

		 		&.active a.nav-link {
		 			border-bottom: 3px solid $yellow;
		 		}
		 	}
		 }
	}

	.cart {
		padding-left: 0px;
		padding-right: 30px;

		a {

			svg {
				&:hover #circle {
					fill: rgba(255,170,47,.4);
				}
				&:hover path {
					fill: rgba(0,0,0,.4)
				}
			}
		}
	} // cart

	.contacts {

		@media (max-width: 576px) {
			display: none;
		}

		.phone {
			font-family: $roboto;
			font-weight: 500;
			line-height: 1.1875rem;
			margin-bottom: 0;
		 	-webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
			filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		} /* phone */

		.advice {
			font-family: $roboto;

			a {
				color: $red;
				border-bottom: 2px dashed $red;
				font-size: .75rem;
				text-transform: uppercase;
				padding-bottom: .375rem;
			 	-webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
				filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
				&:hover {
					color: #000;
				}
			}

			a:hover {
				text-decoration: none;
			}
		} /* advice */
	} // contacts

	.contacts-mobile {
		@media (max-width: 576px) {
			display: flex;
		}

		@media (min-width: 576px) {
			display: none;
		}
	}

	// Dropdown menu

	.dropdown-submenu {
	    position: relative;
	}

	.dropdown-submenu>.dropdown-menu {
	    top: 0;
	    left: 100%;
	    margin-top: -6px;
	    margin-left: -1px;
	    -webkit-border-radius: 0 6px 6px 6px;
	    -moz-border-radius: 0 6px 6px;
	    border-radius: 0 6px 6px 6px;
	}

	.dropdown-submenu:hover>.dropdown-menu {
	    display: block;
	}

	.dropdown-submenu>a:after {
	    display: block;
	    content: " ";
	    float: right;
	    width: 0;
	    height: 0;
	    border-color: transparent;
	    border-style: solid;
	    border-width: 5px 0 5px 5px;
	    border-left-color: #ccc;
	    margin-top: 5px;
	    margin-right: -10px;
	}

	.dropdown-submenu:hover>a:after {
	    border-left-color: #fff;
	}

	.dropdown-submenu.pull-left {
	    float: none;
	}

	.dropdown-submenu.pull-left>.dropdown-menu {
	    left: -100%;
	    margin-left: 10px;
	    -webkit-border-radius: 6px 0 6px 6px;
	    -moz-border-radius: 6px 0 6px 6px;
	    border-radius: 6px 0 6px 6px;
	}

	// End dropdown menu

}